<h1> Login </h1>

<%= form_for @user do |f| %>
    <%= f.collection_select :name, User.all, :id, :name %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Sign In" %>
    <% end %>

