<p>Name: <%= current_user.name %><br>
Mood: <%= current_user.mood %><br>
Tickets: <%= current_user.tickets %><br>
Height: <%= current_user.height %><br>
<%= link_to 'Log Out', '/signout' %>
<%= link_to 'See attractions', attractions_path %></p>