<ul>
    <li>Name: <%= @attraction.name </li>
    <li>Tickets: Rating: <%= @attraction.tickets </li>
    <li>Nausea Rating: <%= @attraction.nausea_rating </li>
    <li>Happiness Rating: <%= @attraction.happiness_rating </li>
    <li>Minimum Height: <%= @attraction.min_height </li>
</ul>